.my-text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 글자가 넘어가도 되고, 넘어가면 숨기고, 숨긴걸... 처리한다. */
}

.my-grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}


.my-cursor {
    cursor: pointer;
}

.my-cursor:hover {
    color: rgb(141, 27, 36);
}